@{
    ViewData["Title"] = "Inicio";
}

<h1>Bienvenido al sistema de gestión</h1>

<p>
    <a asp-action="Index" asp-controller="Cliente" class="btn btn-primary">Gestionar Clientes</a>
</p>

<p>
    <a asp-action="Index" asp-controller="PlanRecompensa" class="btn btn-secondary">Gestionar Planes de Recompensa</a>
</p>

<p>
    <a asp-action="Index" asp-controller="Reserva" class="btn btn-success">Gestionar Reservas</a>
</p>
